.formulario{
    margin-top: 20px;
}

div.formulario h6{
    margin-top: 4px;
    margin-bottom: 0px;
}

div.formulario input{
    width: 200px;
    border-radius: 5px;
    border-color: mediumseagreen;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 2px;
    padding-left: 3px;
}