.mainSpace {
    width: max-content+1;
    height: max-content;
    margin: 30px 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: MediumSeaGreen;
    border-width: 2px;
    text-align: center;
    box-shadow: 4px 3px 30px gray;
}

h1{
    border-bottom: 1px solid mediumseagreen; 
}

.mainCol {
    text-align: center;
    margin: 20px 0px;
}

.encabezado{
    width: 100%;
    color: mediumseagreen;
    border-bottom: 1px solid mediumseagreen;
    margin: 0px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.encabezado:hover{
    background: rgb(60,179,113,0.2);
}

.dropdown-toggle:after{
    width: 5px;
    height: 5px;
    font-size: 30px;
}

.dibujo{
    width: 1px;
    height: 1px;
    position: left;
    display: inline-block;
    position: absolute;
}