input[type=checkbox]{
    display: none;
}

/* se modifica la etiqueta */
.label-4{
    color: mediumseagreen;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
}

/* lo que ocurre cunado pasamos el mouse por encima */
.label-4:hover{
    background: rgb(60,179,113,0.2);
}

/* genera un elemento antes de la etiqueta */
.label-4:before{
    content: '';
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid mediumseagreen;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 9px;
}

.input-4:checked + .label-4{
    padding: 5px 15px;
    background: mediumseagreen;
    color: white;
    border-radius: 8px;
}

.input-4:checked + .label-4:before{
    display: none;
}