input[type=checkbox]{
    display: none;
}

input[type=checkbox] + label {
    cursor: pointer;
}

.label-1:before {
   content: '';
   background: transparent;
   border: 2px solid mediumseagreen;
   /* border-radius: 8px; */
   display: inline-block;
   height: 30px;
   margin-right: 20px;
   text-align: center;
   text-shadow: 4px 2px 3px gray;
   box-shadow: 4px 2px 3px gray;
   vertical-align: middle;
   width: 30px;
}

.input-1[type=checkbox]:checked + label:before {
    content: '✓';
    font-size: 18px;
    color: mediumseagreen;
    font-family: 'Times New Roman';
}